* {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*     background: seagreen; */
}

.centered-div {
    margin-top: -100px;
    width: 500px;
    /*     background: orangered; */
    border-radius: 20px;
}

.centered-div img {
    margin-top: 20px;
    position: relative;
    height: 150px;
    width: 150px;
    right: -35%;
}

.sign-up {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

a:active {
    color: #46c9f9;
}

label,
a {
    font-weight: bold;
}

.username {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.username input,
.password input,
button
{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
    border: 2px solid rgba(216, 216, 216, 0.712);
    padding: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    -webkit-box-shadow: 0 0 0 30px rgb(248, 248, 248) inset !important;
}

.username input:focus,
.password input:focus{
    border-color: #46c9f9;
    outline:none;
}

.password {
    display: flex;
    flex-direction: column;
}

.password a {
    margin-top: 5px;
    font-size: 12px;
}

.options {
    position: relative;
    display: flex;
    margin: 10px 0;
}
.remember {
    margin-bottom: 15px;
}

.remember input {
    vertical-align: middle;
}


button {
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;

}

button:not([disabled]):active {
    border: 2px solid #46c9f9;
}

button:disabled{
    cursor: default;
}

hr {
    border: none;
    height: 2px;
    background-color: rgba(216, 216, 216, 0.548);
    margin: 20px 0;
}

.errorMessage {
    color: red;
    font-style: italic;
    margin-top: 5px;

}

#forgotPassword {
    margin-left: auto;
}